{
  "presets": [
    "@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"
  ],
  "assumptions": {
    "setPublicClassFields": true
  },
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true } ],
    ["@babel/plugin-proposal-class-properties"]
  ]
}